@page "/fetchdata"

@using NextBus.App
@inject BusStopsQuery Query

if (stops != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Short</th>
                <th>Long</th>
                <th>Next</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var stop in stops)
            {
                <tr>
                    <td>@stop.ShortName</td>
                    <td>@stop.LongName</td>
                    <td>@stop.Next</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<BusStop> stops;

    protected override async Task OnInitializedAsync()
    {
        stops = Query.GetStopsInRadius(43.5, 24.0, 1000d);
    }
}
